/*ABOUT ME*/
#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;
    padding-top: 5%;
    min-width: 15vw;
    
}
.intro-rt {
    margin-top: -70px;
}
.intro-inspirational {
    max-width: 515px;
    margin-top: -15px;
    text-align: justify;
    text-justify: inter-word;
}
