
.experienceBar {
    margin-top: calc(calc(100vh / 2));
    display: inline-block;
    border-radius: 10px;
    width: 7px;
    height: 40px;
    position: fixed;
    background-color: var(--cloudy-white);
    transform: translateY(-50%);
    transition: width 0.25s ease;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}
.projectsBar {
    margin-top: calc(calc(100vh / 2) + 44px);
    display: inline-block;
    border-radius: 10px;
    width: 7px;
    height: 40px;
    position: fixed;
    background-color: var(--cloudy-white);
    transform: translateY(-50%);
    transition: width 0.25s ease;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}
.aboutBar {
    margin-top: calc(calc(100vh / 2) - 44px);
    display: inline-block;
    border-radius: 10px;
    width: 7px;
    height: 40px;
    position: fixed;
    background-color: var(--cloudy-white);
    transform: translateY(-50%);
    transition: width 0.25s ease;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}
.introBar {
    margin-top: calc(calc(100vh / 2) - 88px);
    display: inline-block;
    border-radius: 10px;
    width: 7px;
    height: 40px;
    position: fixed;
    background-color: var(--cloudy-white);
    transform: translateY(-50%);
    transition: width 0.25s ease;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}
.socialsBar {
    margin-top: calc(calc(100vh / 2) + 88px);
    display: inline-block;
    border-radius: 10px;
    width: 7px;
    height: 40px;
    position: fixed;
    background-color: var(--cloudy-white);
    transform: translateY(-50%);
    transition: width 0.25s ease;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}

.socialsBarSelected {
    width: 100px;
}

.experienceBarSelected {
    margin-top: calc(calc(100vh / 2));
    display: inline-block;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    position: fixed;
    background-color: var(--cloudy-white);
    transform: translateY(-50%);
    transition: width 0.25s ease;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}
.projectsBarSelected {
    margin-top: calc(calc(100vh / 2) + 44px);
    display: inline-block;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    position: fixed;
    background-color: var(--cloudy-white);
    transform: translateY(-50%);
    transition: width 0.25s ease;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}
.aboutBarSelected {
    margin-top: calc(calc(100vh / 2) - 44px);
    display: inline-block;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    position: fixed;
    background-color: var(--cloudy-white);
    transform: translateY(-50%);
    transition: width 0.25s ease;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}
.introBarSelected {
    margin-top: calc(calc(100vh / 2) - 88px);
    display: inline-block;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    position: fixed;
    background-color: var(--cloudy-white);
    transform: translateY(-50%);
    transition: width 0.25s ease;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}

#sideTabs {
    position: fixed;
}

