@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

:root {
    --buttonColor: #F5EFE1;
}

.btn, .introBar, .introBar::before, .introSelected, .introSelected::before, .aboutSelected, .aboutSelected::before, .aboutBar, .aboutBar::before, .projectsSelected, .projectsSelected::before, .projectsBar::before, .projectsBar, .experienceBar::before, .experienceBar, .experienceSelected, .experienceSelected::before{
    border: 2px solid #e2d0a8;
    border-radius: 10px;
    cursor: pointer;
    min-width: 100px;
    min-height: 40px;
  }
  
  .projectsBar {
    margin-top: calc(calc(100vh / 2) + 20px);
    background: #e2d0a8;
    color: #7b6229;
    font-family: "NTR Regular";
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    position: fixed;
    transform: skewX(0deg);
  }

  .aboutBar {
    margin-top: calc(calc(100vh / 2) - 35px);
    background: #e2d0a8;
    color: #7b6229;
    font-family: "NTR Regular";
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    position: fixed;
    transform: skewX(0deg);
  }

  .experienceBar {
    margin-top: calc(calc(100vh / 2) + 75px);
    background: #e2d0a8;
    color: #7b6229;
    font-family: "NTR Regular";
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    position: fixed;
    transform: skewX(0deg);
  }
  
  .introBar {
    margin-top: calc(calc(100vh / 2) - 90px);
    background: #e2d0a8;
    color: #7b6229;
    font-family: "NTR Regular";
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    position: fixed;
    transform: skewX(0deg);
  }


.projectsBar::before, .experienceBar::before, .aboutBar::before, .introBar::before {
    content: attr(data-label);
    background: #F5EFE1;
    display: grid;
    place-items: center;
    position: absolute;
    top: -0.7rem;
    right: -0.7rem;
    z-index: -1;
    transition: all 0.3s ease;
}
.aboutSelected {
    margin-top: calc(calc(100vh / 2) - 35px);
    background: #e2d0a8;
    color: #7b6229;
    font-family: "NTR Regular";
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    position: fixed;
    transform: skewX(0deg);
  }

.projectsSelected {
    margin-top: calc(calc(100vh / 2) + 20px);
    background: #e2d0a8;
    color: #7b6229;
    font-family: "NTR Regular";
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    position: fixed;
    transform: skewX(0deg);
  }
  .aboutSelected::before {
    content: attr(data-label);
    background: #F5EFE1;
    display: grid;
    place-items: center;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    z-index: -1;
    transition: all 0.3s ease;
    background-color: #f1e9d6;
    top: -5px;
    right: -5px;
}
.projectsSelected::before {
    content: attr(data-label);
    background: #F5EFE1;
    display: grid;
    place-items: center;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    z-index: -1;
    transition: all 0.3s ease;
    background-color: #f1e9d6;
    top: -5px;
    right: -5px;
}

  .experienceSelected {
    margin-top: calc(calc(100vh / 2) + 75px);
    background: #e2d0a8;
    color: #7b6229;
    font-family: "NTR Regular";
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    position: fixed;
    transform: skewX(0deg);
  }
.experienceSelected::before {
    content: attr(data-label);
    background: #F5EFE1;
    display: grid;
    place-items: center;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    z-index: -1;
    transition: all 0.3s ease;
    background-color: #f1e9d6;
    top: -5px;
    right: -5px;
  }

  .introSelected::before {
    content: attr(data-label);
    background: #F5EFE1;
    display: grid;
    place-items: center;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    z-index: -1;
    transition: all 0.3s ease;
    background-color: #f1e9d6;
    top: -5px;
    right: -5px;
  }
  .introSelected {
    margin-top: calc(calc(100vh / 2) - 90px);
    background: #e2d0a8;
    color: #7b6229;
    font-family: "NTR Regular";
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    position: fixed;
    transform: skewX(0deg);
  }











.socialsBar {
    display: none;
}
/* 
.socialsBar {
    margin-top: calc(calc(100vh / 2) + 88px);
    display: inline-block;
    border-radius: 10px;
    width: 7px;
    height: 40px;
    position: fixed;
    background-color: var(--cloudy-white);
    transform: translateY(-50%);
    transition: width 0.25s ease;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}

.socialsBar > a {
    visibility: none;
    opacity: 0;
    transition: visibility 0s, opacity 0s linear;
}


.socialsBar:hover {
    width: 120px;  
    display:grid;
    grid-template-columns: repeat(3, minmax(20px, 33px));
}

.socialsBar:hover > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0px;
    grid-template-columns: repeat(3, minmax(12px, max-content));
    transition: visibility 0s, opacity 0.51s linear;
    visibility: visible;
    opacity: 1;

}


.linkedinIcon, .emailIcon {
    transform: scale(1.2);
    color: var(--highlight-color);
    text-decoration-color: var(--highlight-color);   
}
.githubIcon {
    color: var(--highlight-color);
    text-decoration-color: var(--highlight-color);  
}

.githubIcon:hover, .linkedinIcon:hover, .emailIcon:hover{
    color: rgb(122,122,122);
    text-decoration-color: rgb(122,122,122);
    
}

*/
  

  


#sideTabs {
    position: fixed;
}

@media only screen and (max-width: 700px) {
    #sideTabs {
        display: none
    }
}