:root {
    --buttonColor: var(--cloudy-white ); 
    --borderColor: #8892b0;
    --textColor: #162e7a;
    --backgroundColor: var(--dark-gray);
    --ColorTester: #8892b0;
    --selectedColor: #bfccf4;
}

#sideTabs {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
}

.bar {
  font-family: "NTR Regular";
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  border: 2px solid var(--borderColor);
  cursor: pointer;
  min-width: 100px;
  min-height: 40px;
  padding-left: 20px;
  text-align: left;
}
.projects, .about, .experience, .intro, .socials {
  color: var(--dark-gray);
}

.bar:nth-child(n) {
  margin-top: calc(40px + (40px * (n - 1)));
}


.aboutSelected, .projectsSelected, .experienceSelected, .introSelected {
  color: var(--light-blue);
}


.socialsBar > a{
  display: none;
}
.socialsBar:hover::before {
  content: "";
  background: var(--buttonColor);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  background-color: var(--selectedColor);
  top: -7px;
  right: -5px;
  width: 100%;
  height: 100%;
}

.socialsBar:hover::before a {
  color: var(--textColor);
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 5px;
}

.socialsBar:hover .githubIcon,
.socialsBar:hover .linkedinIcon,
.socialsBar:hover .emailIcon {
  color: var(--textColor);
  margin: -8px 0px 0 7px;
}

.socialsBar:hover .githubIcon:hover,
.socialsBar:hover .linkedinIcon:hover,
.socialsBar:hover .emailIcon:hover {
  color: #4060c9;
}

.socialsBar:hover {
  margin-top: calc(calc(100vh / 2) + 130px);
  background: var(--borderColor);
  color: var(--backgroundColor);
  font-family: "NTR Regular";
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  position: fixed;
  transform: skewX(0deg);
  display: flex;
  justify-content: center;
}

.socialsBar:hover > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

  



@media only screen and (max-width: 800px) {
    #sideTabs {
        display: none
    }
}