/*MUI: https://mui.com/material-ui/material-icons/*/
:root {
  --cloudy-white: #ccd6f6; /*about me text, need darker text for main stuff*/
  --dark-gray: #8892b0; /*main stuff text*/
  --light-blue: #61dafb; /*highlights/specialtext/icons*/
  --background: #0a192f; /*background*/
  --highlight-color: #112b52; /*self-explanatory*/
}

.App {
  display: grid;
  
}

.messageBox {
  border-radius: 4px;
  width: 130px;
  height: 60px;
  border: 1px solid var(--light-blue);
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
}

.messageBox:hover {
  background-color: #1e314e;
  text-decoration-color: #ccd6f6;
}

.messageBox:hover .messageBoxText {
  font-family: "NTR Regular";
  color: var(--cloudy-white);
}
.messageBoxText {
  font-family: "NTR Regular";
  color: var(--light-blue);
}



.about-info ul {
  font-family: "NTR Regular";
  list-style-type: none;
  padding-left: 0px;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 10px));
}

.about-info li {
  position: relative;
  font-family: "NTR Regular";
  padding-left: 20px;
  font-size: 18px;
  color: var(--dark-gray);
}

.skills li::before {
  content: "▸ ";
  color: var(--light-blue);
  position: absolute;
  left: 0;
}

@font-face {
  font-family: 'NTR Regular';
  font-style: normal;
  font-weight: normal;
  src: local('NTR Regular'), url('./Font/NTR-Regular.ttf') format('truetype');
}

.special {
  font-family: "NTR Regular";
  color: var(--light-blue);
}


.sentence {
  font-size: 85px;
  color: var(--cloudy-white);
  font-family: "NTR Regular";
}

.title {
  font-size: 45px;
  color: var(--cloudy-white);
  font-family: "NTR Regular";
}

.sub-text {
  font-family: "NTR Regular";
  color: var(--dark-gray);
  font-size: 45px;
}

.body-text {
  font-family: "NTR Regular";
  color: var(--dark-gray);
  font-size: 22px;
  line-height: 1.5;
}

.footer-text {
  margin-top: -25px;
  text-align: center;
  font-size: 13px;
  color: var(--dark-gray);
  font-family: "NTR Regular";
}

.footer {
  top: 94%;
  left: 45%;
  margin-top: 90px;
  margin-bottom: 10px;
}



::selection {
  background: var(--highlight-color);
}
